<body id='regBody' ng-contoller="forgetPasswordCtrl">
    <div class='row'>
        <br/>
        <div class='col-lg-4'></div>
        <div class='col-lg-4'>
            <form id='loginForm'>
                <label  class="resetHeading"><b>Forgot Password Form</b></label></br>
                <div class="form-group">
                    <label for="email">Email*</label>
                    <input type="text" class="form-control" placeholder="enter registered email" name="email" ng-model="email">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success"  ng-click="forgetPassword()">Submit</button>
                </div>
                <div class="form-group">
                      <b><p class='p'>don't have account? <a href='registration.html' style='text-decoration-style: solid'> Sign up here </a></p></b><br/>
                </div>
                </form>
           
        </div>
    </div>
</body>

