<body id='regBody' ng-contoller="resetpasswordCtrl">
    <div class='row'>
        <br/>
        <div class='col-lg-4'></div>
        <div class='col-lg-4'>
            <form id='loginForm'>
                <label  class="resetHeading"><b>Reset Password Form</b></label></br>
                <div class="form-group">
                    <label for="newPassword">Enter the New Password</label>
                    <input type="text" class="form-control" id="newPassword" name="newPassword" ng-model="newPassword">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success" id="btnsubmit" ng-click="resetPassword()">Submit</button>
                </div>
                <div class="form-group">
                      <b><p class='p'>don't have account? <a ui-sref='registration' href='registration.html' style='text-decoration-style: solid'> Sign up here </a></p></b><br/>
                </div>
                </form>

        </div>
    </div>
</body>
